*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
 }
 body{
    width : 100%;
    background-image: url(../img/fond1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center; 
    height: 100vh; 
 }
@media (max-width:576px){
   .contactCol{
      width: 80%;
   }
   h2{
      margin-top: 0.5em;
      font-size: 50px;
   }
}
@media (max-width:1024px){
   .contactCol{
      width: 60%;
      height: 52%;
   }
   h2{
      margin-top: 0.5em;
      font-size: 45px;
   }
}